*{
  box-sizing: border-box;
}

.showProductContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiqueWhite;
  text-align: center;
  color: rgb(38, 28, 11);
  
}

.showProductContainer > *{
  padding: .5rem;
  width: 100%;
  
}

.formProduct{
  text-align: center;
  margin: 0 auto;
  width: 30%;
  
}

.formProduct > *{
  margin: .5rem 0;
  width: 100%;
}

.formProduct input, .formProduct textarea{
  width: 100%;
}

.btnAdd{
  all: unset;
  cursor: pointer;
  background-color: antiqueWhite;
  border: 1px solid burlywood;
  padding: 1rem 0;
  color:rgb(56, 69, 83)
}

.green{
  background-color: lightgreen;
}

.yellow{
  background-color: yellow;
}